absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.13
anndata==0.8.0
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
babel==2.17.0
backcall==0.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
bleach==6.1.0
blinker==1.7.0
blosc2==2.0.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
chex==0.1.7
click==8.1.7
cloudpickle==1.3.0
colorama==0.4.6
commonmark==0.9.1
contextlib2==21.6.0
contourpy==1.1.1
cryptography==44.0.2
cycler==0.12.1
Cython==0.29.37
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
dnspython==2.6.1
docrep==0.3.2
docutils==0.20.1
et-xmlfile==1.1.0
etils==1.3.0
executing==2.0.1
faiss-cpu==1.7.4
faiss-gpu==1.7.2
fastjsonschema==2.21.1
filelock==3.9.0
Flask==3.0.2
flax==0.7.2
fonttools==4.44.3
frozenlist==1.4.1
fsspec==2023.4.0
future==1.0.0
gast==0.3.3
get-annotations==0.1.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.60.0
h5py==3.4.0
Hydra==2.5
hyperopt==0.1.2
id==1.5.0
idna==3.6
igraph==0.11.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
ipython==8.12.3
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.4.13
jaxlib==0.4.13
jedi==0.19.1
jeepney==0.9.0
jgraph==0.2.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
Keras==2.1.4
Keras-Preprocessing==1.1.2
keyring==25.5.0
kiwisolver==1.4.5
legacy-api-wrap==1.3
leidenalg==0.10.2
lightning-utilities==0.11.2
livereload==2.7.1
llvmlite==0.41.1
louvain==0.8.2
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
ml-collections==0.1.1
ml-dtypes==0.2.0
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.0.7
mudata==0.2.3
multidict==6.0.5
multipledispatch==1.0.0
munkres==1.1.4
muon==0.1.5
natsort==8.4.0
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nbsphinx==0.9.7
nest-asyncio==1.6.0
networkx==3.0
nh3==0.2.21
numba==0.58.1
numexpr==2.8.6
numpy==1.22.0
numpyro==0.12.1
oauthlib==3.2.2
omegaconf==2.3.0
openpyxl==3.1.2
opt-einsum==3.3.0
optax==0.1.8
orbax-checkpoint==0.2.3
packaging==24.2
pandas==1.4.4
pandoc==2.4
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.3
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.1.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plumbum==1.9.0
ply==3.11
prompt_toolkit==3.0.47
protobuf==3.19.0
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
Pygments==2.17.2
pymongo==4.6.3
pynndescent==0.5.10
pyparsing==3.1.1
pyro-api==0.1.2
pyro-ppl==1.9.0
python-dateutil==2.8.2
python-louvain==0.16
pytorch-lightning==1.9.5
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.4.0
readme_renderer==43.0
recommonmark==0.7.1
referencing==0.35.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.20.1
rsa==4.9
scanpy==1.9.6
scikit-learn==0.22.1
scikit-misc==0.2.0
scvi-tools==0.20.3
seaborn==0.12.2
SecretStorage==3.3.3
session-info==1.0.0
setuptools-scm==8.0.4
sinfo==0.3.4
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
spektral==0.6.1
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
statsmodels==0.14.0
stdlib-list==0.9.0
sympy==1.12
tables==3.8.0
tbb==2021.11.0
termcolor==2.4.0
texttable==1.7.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.1
tornado==6.4.2
tqdm==4.66.1
traitlets==5.14.3
triton==2.1.0
twine==6.1.0
typing_extensions==4.4.0
tzdata==2023.3
umap==0.1.1
umap-learn==0.3.10
urllib3==2.1.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.16.0
xlrd==2.0.1
yarl==1.9.4
zipp==3.17.0
